# build artifacts
build/
*.o
*.a
*.so

# experiments binaries (各练习目录下的可执行产物)
experiments/m5_fsm/fsm_demo
experiments/m5_parser/crc_test
experiments/m5_parser/m5_demo
experiments/m5_parser/fake_stm32
experiments/m5_parser/gateway
experiments/m6_queue/demo_cv
experiments/m6_queue/demo_safe
experiments/m6_queue/demo_safe_tsan
experiments/m6_queue/demo_tsan
experiments/m6_queue/demo_unsafe
experiments/m6_queue/test_bounded
experiments/m6_queue/test_queue
experiments/m6_queue/test_shutdown
experiments/m8_pool/test_future_pool
experiments/m8_pool/test_pool
experiments/m3_log/test_compile
experiments/m3_log/test_conpile
experiments/m3_log/test_throughput
experiments/m3_log/test_timed_flush
experiments/m7_epoll/server
experiments/m7_epoll/zuse
experiments/m7_epoll/channel_et
experiments/m9_timerfd/reactor_timerfd
experiments/m9_timerfd/timer_server
experiments/m9_timerfd/timerfd_create_test
experiments/m11_http/test_http
experiments/m11_http/http_server
experiments/**/*.out
experiments/**/a.out

# IDE
.vscode/
.idea/
.cache/

# compile_commands (clangd)
compile_commands.json
